# - three mode available

# 1 - MARIADB MODE
# MODE=maria
# DB_USER=<user>
# DB_PWD=<password>
# DB_NAME=<dbname>
# DB_HOST=<dbhost

# 2 - JSON TINYDB MODE
# MODE=TINY
# MAIN_CONFIG_PATH=../config.json

# 3 - SQLITE DB MODE
# MODE=sqlite
# DB_PATH=/opt/dbfiles/solardb.db

# COMMON
# Run backup diary when all devices are done ?
AUTO_DIARY_BACKUP=1
# possible vaues are DEBUG, INFO, WARN, ERROR
LOG_LEVEL="DEBUG"